# .gitattributes file which reclassifies .sch and .brd files as Eagle:
*.sch linguist-language=Eagle
*.brd linguist-language=Eagle

* linguist-vendored
*.sch linguist-vendored=false
*.brd linguist-vendored=false